<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <section class="text-center pb-1 my-1">
                <!--Section heading-->
                <h2 class="h1 ">Delivering Order Details</h2>
                <hr>
            </section>
        </div>
    </div>
    <div class="table-responsive">
        <table mdbTable mdbTableScroll scrollY="true" maxHeight="600" bordered="true">
            <thead class="info-color-dark white-text">
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of deliveringOrders;let i=index"   (click)="onOrderClick(order._id,order.statusOfCompletion)" class="tab">
                    <td>{{i+1}}</td>
                    <td>{{order.date.getFullYear()+"-"+(order.date.getMonth()+1)+"-"+order.date.getDate()}}</td>
                    <td>{{order.date.getHours()+"."+order.date.getMinutes()+(order.date.getHours()>12?"PM":"AM")}}</td>
                    <td>Colombo</td>
                    <td>Rs.{{order.totalAmount}}/=</td>
                    <td>Pending</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>